# 1. Ignore everything
*

# 2. Add files and directories that should be included
!configuration-default
!src
!test
!build/qvls
!Dockerfile
!nyc.config.js
!.eslintrc
!reporter_config.json

# 3. Ignore unnecessary files inside allowed directories
src/node_modules
test/node_modules
